*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #3fcb0f;
    height: 50px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}
.menu-area{
    height:20px;
    border-color: whitesmoke;

}
.menu-area a:hover{
    background: rgba(16, 249, 33, 0.48);
    color: forestgreen;
}
.menu-area ul{
    list-style: none;
    display: flex;
}
.menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
}
.menu-area li:hover .lang > li{
    display: block;
    top: 0;
}
.lang li{
    display: none;
    position: relative;
}
ul{
    background-color: forestgreen;
}
.lang{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lang li:hover .lang1 li{
    display: block;
}
.lang1 li{
    display: none;
}
.lang1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
}
.menu-area li:hover .car > li{
    display: block;
    top: 0;
}
.car li{
    display: none;
    position: relative;
}
.car{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-area li:hover .mon > li{
    display: block;
    top: 0;
}
.mon li{
    display: none;
    position: relative;
}
.mon{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-area li:hover .cond > li{
    display: block;
    top: 0;
}
.cond li{
    display: none;
    position: relative;
}
.cond{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner-area{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fklengel%2F29927138123&psig=AOvVaw33OkffdxF9Y_lVicQPQBlQ&ust=1582267304190000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOje3KzD3-cCFQAAAAAdAAAAABAQ);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
}
.banner-area h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    font-family: monospace;
}