.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid orange;
}
.container div
{
    padding:10px;
    border:3px solid skyblue;

}

.box-1
{
    border:2px skyblue;
    color: black;
    margin: 5px
}

.box-2
{
    border:2px skyblue;
    text-align: right;
    color: black;
    margin: 5px;
}


.box-3
{
    border:2px skyblue;

    color:black;
    margin: 5px;
}

img
{
    width: 70px;
    height: 70px;
}

.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
}