.slider-block
  height: 350px
  display: inline-block

#carousel
  height: 100%
  .carousel-inner
    height: 100%
  .item
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width: 100%
    height: 100%