div.d1{
    float:left;
    background-color:red;
    color:white;
    text-align:center;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

div.d2{
    float:left;
    background-color:lightgray;
    color:white;
    width:20%;
    Height:500px;
}
div.d3{
    height:600px;

}
span{
    color:white;
}
div.d4{
    color:black;
    background-color:lightpink;
    height:40px;
    width:100%;
    text-align: center;
}
