p, h1, h2, h3 ,h4, b, div {
    font-family: calibri;
}
tr.aln1{
    width: 100%;
    height: 270px;
    background-color: #445162;
    color: white;
}
th.aln12{
    width: 50%;
    background-color: #445162;
}
p.aln1{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
table.aln1{
    width: 35%;
    height: 170px;
    background-color: white;
    margin: 25px 50px 40px 0px;
}
h1.aln1{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h4.aln1{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
tr.aln2{
    width: 100%;
    background-color: white;
    color:  #445162;
}
p.aln2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
table.aln2{
    width: 30%;
    height: 200px;
    background-color: #445162;
    margin: 25px 80px 40px 0px;
}
h1.aln2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
p.shal{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
tr.aln3{
    width: 100%;
    background-color: #445162;
    color: white;
    padding-top: 10px;
    height: 320px;
}
h3.aln3{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
tr.kar{
    width: 100%;
    background-color: #f5f5f5;
    color: #445162;
    height: 25px;
}
input.al10{
    margin: 30px 0px 10px 100px;
    width: 60%;
    height: 25px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    color:  #445162;
}
input.al11{
    margin: 0px 0px 10px 100px;
    width: 60%;
    height: 25px;
    border-radius: 7px;
    border: 1px solid white;
    display: inline-block;
    color:  #445162;
}
input.al1{
    margin: 0px 0px 10px 100px;
    width: 60%;
    height: 120px;
    border-radius: 7px;
    border: 1px solid white;
    display: inline-block;
    color:  #445162;
}
input.al2{
    margin: 0px 230px 30px 345px;
    width: 10%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid white;
    display: inline-block;
    color:  #445162;
}
section.kar1{
    width: 60%;
    height: 320px;
    float: left;
}
section.kar2{
    text-align: left;
    width: 40%;
    height: 320px;
    float: left;
}
h4.kar22{

}
a.skype{
    background-color: #445162;
}
a.chat{
    background-color: #445162;
}
a.mail{
    background-color: #445162;
}
a.phone{
    background-color: #445162;
}
img.in{
    background-color: #445162;
}
