
body{
    background-color:white;
    margin-top:40px;
    margin-bottom:200px;
    margin-left:250px;
    margin-right:100px;
}

table{
    background-color:black;
    margin: 50px;
    padding:10px;
}


td.ast{
    color:white;
    background-color:green;
    text-align:left;
    width:33%;
    height:56%;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:10px;
}

td.ict{
    color:white;
    background-color:gray;
    text-align:left;
    width:33%;
    height:56%;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:5px;
}
td.web{
    color:white;
    background-color:green;
    text-align:left;
    width:33%;
    height:56%;
}