body{
    background-image:url("https://steamuserimages-a.akamaihd.net/ugc/933819082955021685/A44A2D24BB987267F26C56440F51A0B468481222/");
    color:darkgray;
}
li,a{
    color:darkgray;
    text-size:30px;
}