
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



p.author{
   letter-spacing:15px;
}
div.image{
    background-image:url("midterm_img/thelilprince.jpg");
    height:700px;
    width:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

div.text{
    text-align: center;
    Position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:black
}
h1.title{
    letter-spacing: 10px;
}
h1.contents{
    margin-left:250px;

}
div.content{
    width:500px;
    float:left;
}
div.a{
    width: 38%;
    height: 768px;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
}
div.b{
    width: 38%;
    height: 768px;
    float: left;
    margin-right: 8%;
}
p.p{
    text-align: center;
}
