body{
    background-color: blue;

}
h1{
    color:red;
}
p.var{
    border:10px;
    border-style:dotted;
    border-color:yellow;
    margin: 5px;
    padding:10px;
    }

#wolfsimage{
    border: 10px;
    color:black;
    border-bottom-style: dashed;

}

#friends{
    border:10px;
    color:black;
    border-bottom-style:dashed ;
}

p.lorem{
    align-text:center;
    background-color:aqua;
    margin:50px;
    padding:25px;
}

a.back{
    color:black;
}

p.text2{
text-indent: 70px;
}

p.text3{
text-transform: capitalize;
}

p.text4{
text-transform: lowercase}

p.text5{
text-transform: uppercase;
}

p.text6{
letter-spacing: 3px;
}

p.text7{
line-height: 3.2;
}

p.text8{
text-shadow: 5px 7px red ;
}