.progress-wrap, .progress-bar {
    height: 20px;
    max-width: 300px;
    position: relative;
}
.progress-wrap {
    background: #eee;
}
.progress-bar {
    background: #cce0ff;
    width: 0;
    transition: width 1s;
}
.progress-text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}