body{
    margin: 0;
    display:flex;
    height: 100vh;
    align-items:center;
    justify-content:center;
    background-color: #292929;
    overflow:hidden;

}
.task{
    width:10em;
    height:10em;
    font-size:25px;
    box-sizing:border-box;
    border-top: 2px solid red;
    border-radius:50%;
    position:relative;
    animation:rotating 3s ease-in-out infinite;
    --direction:1;
}

.task::before, .task::after{
    content:'';
    position:absolute;
    width:inherit;
    height:inherit;
    border-radius:50%;
    box-sizing:border-box;
    top:-0.2em;
}

.task::before{
    border-top:0.3em solid black;
    transform:rotate(120deg);
}
.task::after{
    border-top: 0.3em solid ghostwhite;
    transform:rotate(240deg);
}
.task span{
    position:absolute;
    color:white;
    width:inherit;
    height:inherit;
    text-align:center;
    line-height:10em;
    font-damily:sans-serif;
    animation: rotating 1s ease infinite;
    --direction:-1;
}
@keyframes rotating{
    50%{
        transform:rotate(calc(150deg * var(--direction)));
    }
    100%{
transform: rotate(calc(360deg * var(--direction)));
}
}