body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0-UMC1c3E_8uC7ZUM3t09cbqxMujjKxw3BZUAoYZg05_PXTYB");
    margin: 0;
    padding: 0;
}
*{
    font-family: "Trebuchet MS";
}
.rright{
    text-align: right;
}
.back{
    background-color: white;
    height: 20px;
    opacity: 0.5;
    width: 100%;
}
.reg{
    border: black 5px solid;
    background-color: white;
    display: flex;
    margin-left: 400px;
    margin-top: 150px;
    width:50%;
    height: 500px;
    box-shadow: black 2px 5px 10px 2px;
    border-radius: 25px;
}
.left{
    width: 60%;
    height: 400px;
    padding: 30px;
    flex-direction: column;
}
input{
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: black 2px solid;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 20px;
}
input:hover{
    background-color: #9f9f9f;
    opacity: 0.5;
}
.button{
    background-color: orange;
    color: white;
    padding: 15px 32px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: orangered;
    font-weight: bold;

}
.button:hover{
    background-color: #c07900;
}
.right{
    width: 40%;
    height: 400px;
    padding: 30px;
    flex-direction: column;
    margin-right: 30px;
}
.google, .facebook, .github{
    margin-top: 50px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
}
.google{
    background-color: #FF3E30;
}
.facebook{
    background-color: #3b5998;
}
.github{
    background-color: #333333;
}
.google:hover{
    opacity: 0.7;
}
.facebook:hover{
    opacity: 0.7;
}
.github:hover{
    opacity: 0.7;
}