

div.first{
    font-family: "Courier New";
    width:140px;
    float:left;
    margin-left: 600px;



}

div.second{
    font-family: "Courier New";
    width:140px;
    float:left;
    border-style:#7f9db9;

}
input{
    border-color:#7f9db9;

}

select{
    border-color:#7f9db9;
}

button{
    border-color:#7f9db9;
}

option{
    border-color:#7f9db9;
}



