body {
    font-family: 'Buenard', serif;
    font-size: 13px;

    background-color:black;}

input, textarea, select, button {
    font-family: 'Buenard', serif;
    color: #333;
    font-size: 13px; }

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }

img {
    max-width: 100%; }

ul {
    padding-left: 0;
    margin-bottom: 0; }

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }

.inner {
    padding: 20px;
    background: red;
    max-width: 850px;
    margin: auto;
    display: flex; }
.inner .image-holder {
    width: 50%; }
.inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px; }
.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Buenard', serif;
    text-align: center;
    margin-bottom: 28px; }

.form-group {
    display: flex; }
.form-group input {
    width: 50%; }
.form-group input {
    margin-right: 25px; }

.form-wrapper {
    position: relative; }
.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0; }

.form-some-1 {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
    background: red;
}

.form-some-1 {
    font-size: 13px;
    color: #333;
    font-family: 'Buenard', serif;
    background: red;
}


button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
}
button i {
    margin-left: 10px;
}
button {
    margin-top: 60px;
}